<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="../static/form.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="../static/printstyles.css" media="print"/>
  <title>Send a Message!</title>
</head>
<body style="background-color:#E6E6DC">
  <div id="form">
    <form method="post" action="/submit-form/"> <!--Where to send input-->
    <h1>Surya's Twilio App</h1>

    <center><label>Type someone's number:</label></center>
    <center><input type="text" name="number" size="40" /></center>

    <center><p><input type="submit" value="Send Message"  /></p></center>
    </form>
  </div>
</body>
</html>
